$font-family-sans-serif: "Titillium Web", sans-serif;

$primary: #1954ED;
$secondary: #28D1B4;
$primary-dark: #363636;
$primary-light: #ffffff;
$black : #000000; 
$lightblue: #B9CBFA;

$columns: 12;
$gap: 30px;

$breakpoints: ('xs': 480px,
	'sm': 768px,
	'md': 991px,
	'lg': 1170px,
	'xl': 1280px);